<div ng-view="cart" class="cartView jumbotron">
	<div ng-show="total>0">

		<div>{{count.value}}</div>
		<table class="table table-striped table-responsive">
			<tbody>
				<tr>
					<th>Name</th>
					<th>Quantity</th>
					<th></th>
					<th>Initial price</th>
					<th>Total price</th>
				</tr>
				<tr ng-repeat="item in items">
					<td><a ui-sref="laptop({name: '{{item.id}}'})">{{item.model}}</a></td>
					<td><span class="itemCount">{{item.count}}</span></td>
					<td><input type="number" class="quantity" id="{{item.id}}"
						step="1" min="0" max="50" value="1" />
						<button class="btn btn-success"
							ng-click="this.disabled=true;buyMore(item)">Buy</button></td>
					<td>${{item.price}}</td>
					<td><p class="totalPriceForUnit">${{item.price*item.count}}</p>
						<a ng-click="removeItem(item.id)"><span
							class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td align="right">Total:</td>
					<td ng-model="total">${{total}}</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div ng-show="total==0" class="jumbotron text-center">
		YOUR CART IS EMPTY <a ui-sref="shop" class="btn btn-danger shopButton"
			role="button">Go back?</a>
	</div>
</div>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal"
	data-target="#myModalHorizontal">Launch Horizontal Form</button>

<!-- Modal -->
<div class="modal fade" id="myModalHorizontal" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->

			<!-- Modal Body -->
			<div class="modal-body">

				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="inputEmail3">Do
							you really want to remove this item?</label>
					</div>
					<button type="button" class="btn btn-default" data-dismiss="modal">
						No</button>
					<button type="button" class="btn btn-primary">Yes</button>
				</form>
			</div>

			<!-- Modal Footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					No</button>
				<button type="button" class="btn btn-primary">Yes</button>
			</div>
		</div>
	</div>
</div>

<!--<li ng-repeat="item in items">{{item.name}}  x{{item.count}}-->


<!--{{item.price*item.count}}-->
<!--</li>-->
<!--<a ui-sref="home">HOME</a>-->
<!--</ul>-->